
.top_elements {
	text-align: center;	
	padding: 15px 0;
	
}

.form_main {
	margin: 15px 0;
}

.form-manage {
	margin: 15px 0;
}

.form_main .input_fields .input_item,
.form_main .btn_area {
	display: inline-block;
}

.form_main .input_fields .input_item+.input_item {
	margin-left: 6px;
}

.wifi_table {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

.wifi_table td,
#customers th {
	border: 1px solid #ddd;
	padding: 8px;
}

.wifi_table tr:nth-child(even) {
	background-color: #f2f2f2;
}

.wifi_table tr:hover {
	background-color: #ddd;
}

.wifi_table th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	background-color: #04AA6D;
	color: white;
	border: 1px solid white;
}

.wifi_table td {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	color: black;
	border: 1px solid lightgray;
}

.top_menu {
	margin: 15px 0;

}


